section.compose-tweet {
  display: none;
}

div.error-message {
  display: none;
  margin-top: 20px;
  padding-left: 10px;
  border: solid 3px red;
}

div.tweet-compose {
  border-bottom: solid 5px grey ;
}
 
textarea#tweet-text {
  width: 100%;
  resize: none;
  border: none;
  background-color: inherit;
}

div.post-characteristics {
  display: flex;
  justify-content: space-between;
}

button.tweet-button {
  background-color: #4056a1;
  color: white;
  border: none;
  font-family: 'Bungee', cursive;
}

output.counter {
  font-family: 'Bungee', cursive;
}

